---
layout: page
title: Index - 100+ Tutorials
permalink: /tags/
---
<div class="home" id="SpringBoot">

  <p>Our goal is to help you <b>learn and re-skill</b> Spring Boot, Microservices, Full Stack, Cloud (AWS), Docker and Kubernetes with <b>hands-on, practical videos, articles and courses</b>.</p>

  <p>We have build amazing solutions to help you <b>master</b> Cloud, Full Stack and Microservices <b>in 1-3 Months.</b></p>

  <p>Here's the <b>index of 100+ Articles</b> on Spring Boot, JPA, Hibernate, REST API, Microservices and Cloud. </p>

  <p>Have a wonderful time reading this. Do not forget to checkout our <b>500+ FREE videos</b> and <b>30+ Courses</b>. Good Luck and Keep Learning in28Minutes.</p>

  <h2>Spring Boot</h2>
  <ul>
    <li><a href="/introduction-to-spring-boot-for-beginners" class="post-link">Getting Started with Spring Boot - 7 things a beginner should know!</a></li>
    <li><a href="https://courses.in28minutes.com/p/spring-boot-for-beginners-in-10-steps" rel="nofollow">[VIDEO]  Spring Boot for Beginners in 10 Steps</a></li>
    <li><a href="/spring-boot-projects-with-code-examples" class="post-link">20+ Spring Boot Projects with Code Examples</a></li>
    <li><a href="/spring-boot-rest-api-projects-with-code-examples" class="post-link">Spring Boot REST API Projects with Code Examples</a></li>
    <li><a href="/spring-boot-video-tutorials-for-beginners#spring-and-spring-boot-videos">[VIDEOS] 20 Videos on Spring and Spring Boot</a></li>
    <li><a href="/creating-soap-web-service-with-spring-boot-web-services-starter" class="post-link">Creating a SOAP Web Service with Spring Boot Starter Web Services</a></li>
    <li><a href="/introduction-to-spring-boot" class="post-link">Introduction To Spring Boot Framework</a></li>
    <li><a href="/spring-boot-versioning-for-rest-services" class="post-link">Versioning RESTful Services</a></li>
    <li><a href="/spring-boot-swagger-documentation-for-rest-services" class="post-link">Spring Boot and Swagger - Documenting RESTful Services</a></li>
    <li><a href="/spring-boot-content-negotiation-with-xml-json-representations" class="post-link">Spring Boot and Content Negotiation - XML and JSON Representations</a></li>
  </ul>
  
  <hr/>
  <h2>Java Architecture and Patterns - Full Stack, Cloud, Microservices with Docker & Kubernetes</h2>
  <p><a href="https://www.youtube.com/watch?v=ysoC8S96pZU" target="_blank">Watch Now!</a></p>
  <hr/>

  <ul>
    <li><a href="/spring-boot-hateoas-for-rest-services" class="post-link">Spring Boot - HATEOAS for RESTful Services</a></li>
    <li><a href="/spring-boot-validation-for-rest-services" class="post-link">Implementing Validation for RESTful Services with Spring Boot</a></li>
    <li><a href="/spring-boot-profiles" class="post-link">Spring Boot Basics - What Is A Profile?</a></li>
    <li><a href="/spring-projects-with-examples" class="post-link">What Are Spring Projects?</a></li>
    <li><a href="/spring-basics-introduction-to-spring-batch" class="post-link">Spring Basics - Introduction To Spring Batch</a></li>
    <li><a href="/spring-boot-exception-handling-for-rest-services" class="post-link">Spring Boot Exception(Error) Handling for RESTful Services</a></li>
    <li><a href="/spring-boot-crud-rest-service-with-jpa-hibernate" class="post-link">Creating a CRUD REST API/Service with Spring Boot, JPA and Hibernate</a></li>
    <li><a href="/spring-boot-interview-questions" class="post-link">Spring Boot Interview Questions</a></li>
    <li><a href="/spring-boot-and-component-scan" class="post-link">Spring, Spring Boot and Component Scan</a></li>
    <li><a href="/spring-boot-profiles" class="post-link">Spring Boot Profiles - Application Configuration made easy</a></li>
    <li><a href="/spring-boot-application-configuration-with-yaml" class="post-link">Spring Boot Application Configuration with YAML</a></li>
    <li><a href="/spring-boot-application-configuration" class="post-link">Application Configuration with Spring Boot</a></li>
    <li><a href="/spring-boot-with-embedded-servers-tomcat-jetty" class="post-link">Spring Boot and Embedded Servers - Tomcat, Jetty and Undertow</a></li>
    <li><a href="/spring-boot-and-aop-with-spring-boot-starter-aop" class="post-link">Implementing AOP with Spring Boot and AspectJ</a></li>
    <li><a href="/spring-boot-developer-tools-and-live-reload" class="post-link">Spring Boot Developer Tools and Live Reload - Maximize productivity with Hot Swapping</a></li>
    <li><a href="/logging-with-spring-boot-logback-slf4j-and-log4j" class="post-link">Logging with Spring Boot - Logback, SLF4j and LOG4j2</a></li>
    <li><a href="/creating-spring-boot-project-with-eclipse-and-maven" class="post-link">Creating a Spring Boot Project with Eclipse and Maven</a></li>
    <li><a href="/spring-boot-with-static-content-css-and-javascript-js" class="post-link">Spring Boot - Integrating Static Content - Javascript (JS) and CSS files</a></li>
    <li><a href="/spring-boot-with-jquery-and-bootstrap-web-jars" class="post-link">Spring Boot - Integrating with Bootstrap & jQuery using Web Jars</a></li>
    <li><a href="/introduction-to-spring-data-rest-using-spring-boot" class="post-link">Introduction to Spring Data Rest - Create RESTful APIs at F1 Speed</a></li>
    <li><a href="/spring-boot-vs-spring-mvc-vs-spring" class="post-link">Spring Boot vs Spring MVC vs Spring - How do they compare?</a></li>
    <li><a href="/creating-web-application-with-spring-boot" class="post-link">Creating a Web Application with Spring Boot with JSP</a></li>
    <li><a href="/securing-rest-services-with-spring-boot-starter-security" class="post-link">Secure Rest Services and Web Applications with Spring Boot Security Starter</a></li>
    <li><a href="/creating-rest-service-with-spring-boot" class="post-link">Creating a REST Service with Spring Boot</a></li>
    <li><a href="/spring-boot-starter-parent" class="post-link">Introduction to Spring Boot Starter Parent</a></li>
    <li><a href="/spring-boot-starter-projects" class="post-link">Initializing Projects with Spring Boot Starters - Web and JPA</a></li>
    <li><a href="/spring-boot-auto-configuration" class="post-link">What is Spring Boot Auto Configuration?</a></li>
    <li><a href="/spring-initialzr-bootstrap-spring-boot-applications" class="post-link">Spring Initializr - Bootstrap Your Spring Boot Applications at F1 speed!</a></li>
  </ul>


  <a name="SpringFramework"></a>
  <h2 class="h1">Spring Framework</h2>
  <ul>
    <li><a href="/spring-interview-questions" class="post-link">Spring Interview Questions</a></li>
    <li><a href="https://courses.in28minutes.com/p/spring-framework-for-beginners" rel="nofollow">[VIDEO]  Spring Framework for Beginners in 10 Steps</a></li>
    <li><a href="/spring-framework-what-is-a-dependency" class="post-link">Spring Basics - What Is A Dependency?</a></li>
    <li><a href="/spring-boot-video-tutorials-for-beginners#spring-and-spring-boot-videos">[VIDEOS] 20 Videos on Spring and Spring Boot</a></li>
    <li><a href="/spring-framework-architectures-and-modules" class="post-link">Architecture of Spring Framework - Modularity and Spring Modules</a></li>
    <li><a href="/spring-framework-what-is-inversion-of-control" class="post-link">Spring Framework Basics - What Is Inversion Of Control?</a></li>
    <li><a href="/introduction-to-the-spring-framework" class="post-link">Spring Basics - Introduction To Spring Framework</a></li>
    <li><a href="/spring-framework-dependency-injection-inversion-of-control" class="post-link">Spring Basics - Dependency Injection and Inversion of Control</a></li>
    <li><a href="/spring-and-spring-boot-what-is-component-scan" class="post-link">Spring Framework - What Is Component Scan?</a></li>
    <li><a href="/spring-boot-java-xml-context-configuration" class="post-link">Java Annotation and XML Bean Configurations with Spring Boot</a></li>
  </ul>

  <h2>Free Courses - Learn in 10 Steps</h2>
  <ul>
    <li><a href="https://links.in28minutes.com/SBT-Page-Top-LearningChallenge-SpringBoot" target="_blank">FREE 5 DAY CHALLENGE - Learn Spring and Spring Boot</a></li>
    <li><a href="https://links.in28minutes.com/in28minutes-10steps-springboot" target="_blank">Learn Spring Boot in 10 Steps</a></li>
    <li><a href="https://links.in28minutes.com/in28minutes-10steps-jpa" target="_blank">Learn JPA and Hibernate in 10 Steps</a></li>
    <li><a href="https://links.in28minutes.com/in28minutes-10steps-spring" target="_blank">Learn Spring Framework in 10 Steps</a></li>
    <li><a href="https://links.in28minutes.com/in28minutes-10steps-springmvc" target="_blank">Learn Spring MVC in 10 Steps</a></li>
  </ul>


  <a name="SpringBootFullStack"></a>
  <h2 class="h1">Spring Boot - Full Stack</h2>
  <ul>
    <li><a href="/spring-boot-react-full-stack-with-spring-security-basic-and-jwt-authentication" class="post-link">Integrating Spring Boot and React with Spring Security - Basic and JWT Authentication</a></li>
    <li><a href="/spring-boot-react-full-stack-crud-maven-application" class="post-link">Creating Spring Boot and React CRUD Full Stack Application with Maven</a></li>
    <li><a href="https://www.youtube.com/watch?v=SWXuXhZkNQc" class="post-link">[VIDEO] Full Stack with Spring Boot and React</a></li>
    <li><a href="https://www.youtube.com/watch?v=8ueiZf988qY" class="post-link">[VIDEO] Full Stack Development with Spring Boot and Angular</a></li>
    <li><a href="/spring-boot-video-tutorials-for-beginners#spring-and-spring-boot-videos">[VIDEOS] 20 Videos on Spring and Spring Boot</a></li>
  </ul>

  <a name="SpringBootJPA"></a>
  <h2 class="h1">Spring Boot with JPA and Hibernate</h2>
  <ul>
    <li><a href="/hibernate-jpa-tutorial-with-spring-boot-starter-jpa" class="post-link">Integrating Hibernate and JPA with Spring Boot</a></li>
    <li><a href="https://courses.in28minutes.com/p/jpa-and-hibernate-tutorial-for-beginners-with-spring-boot">[VIDEO]  JPA and Hibernate in 10 Steps</a></li>
    <li><a href="/spring-boot-and-spring-jdbc-with-h2" class="post-link">Integrating Spring Boot and Spring JDBC with h2 and Starter JDBC</a></li>
    <li><a href="/introduction-to-jpa-with-spring-boot-data-jpa" class="post-link">Introduction to JPA and Hibernate using Spring Boot Data Jpa</a></li>
    <li><a href="/spring-boot-video-tutorials-for-beginners#spring-and-spring-boot-videos">[VIDEOS] 20 Videos on Spring and Spring Boot</a></li>
    <li><a href="/introduction-to-spring-data-and-spring-data-jpa" class="post-link">Spring Boot Basics - Introduction To Spring Data and Spring Data JPA</a></li>
    <li><a href="/spring-boot-introduction-to-spring-data-rest" class="post-link">Spring Boot Basics - Introduction To Spring Data Rest</a></li>
    <li><a href="/introduction-to-spring-data-with-spring-boot" class="post-link">Introduction to Spring Data - Spring Data JPA, Spring Data REST and MongoDB</a></li>
    <li><a href="/spring-boot-with-mysql-and-oracle" class="post-link">Connecting Spring Boot with databases - MySQL and Oracle</a></li>
    <li><a href="/spring-boot-and-h2-in-memory-database" class="post-link">Spring Boot and h2 in memory database - Why, What and How?</a></li>
    <li><a href="/spring-boot-and-iBatis-with-h2-tutorial" class="post-link">Spring Boot and iBatis with h2 - A Tutorial</a></li>
  </ul>

  <a name="SpringBootMicroservices"></a>
  <h2 class="h1">Spring Boot and Spring Cloud with Microservices</h2>
  <ul>
    <li><a href="/creating-microservices-with-spring-boot-part-1-getting-started" class="post-link">Microservices with Spring Boot - Part 1 - Getting Started</a></li>
    <li><a href="/creating-microservices-with-spring-boot-part-2-forex-microservice" class="post-link">Microservices with Spring Boot - Part 2 - Creating Forex Microservice</a></li>
    <li><a href="/creating-microservices-with-spring-boot-part-3-currency-conversion-microservice" class="post-link">Microservices with Spring Boot - Part 3 - Creating Currency Conversion Microservice</a></li>
    <li><a href="/microservices-with-spring-boot-part-4-ribbon-for-load-balancing" class="post-link">Microservices with Spring Boot - Part 4 - Using Ribbon for Load Balancing</a></li>
    <li><a href="/microservices-with-spring-boot-part-5-eureka-naming-server" class="post-link">Microservices with Spring Boot - Part 5 - Using Eureka Naming Server</a></li>
    <li><a href="/spring-boot-video-tutorials-for-beginners#spring-and-spring-boot-videos">[VIDEOS] 20 Videos on Spring and Spring Boot</a></li>
    <li><a href="/service-discovery-in-microservices" class="post-link">Microservices Architectures - What is Service Discovery?</a></li>
    <li><a href="/asynchronous-communication-with-queues-in-microservices" class="post-link">Asynchronous communication with queues and microservices - A perfect combination?</a></li>
    <li><a href="/creating-archetypes-in-microservices-architectures-best-practices" class="post-link">Microservice Best Practice - Build an Archetype</a></li>
    <li><a href="/messaging-queues-and-asynchronous-communication-in-microservices" class="post-link">Microservice Architecture Best Practices - Messaging Queues</a></li>
    <li><a href="/software-best-practices-building-a-vertical-slice" class="post-link">Microservice Best Practice - Why do you build a Vertical Slice?</a></li>
    <li><a href="/introduction-to-event-driven-architectures-with-microservices" class="post-link">Microservices Architectures - Event Driven Approach</a></li>
    <li><a href="/12-factor-app-cloud-native-microservices-best-practices" class="post-link">The 12 Factor App - Best Practices In Cloud Native Applications and Microservices</a></li>
    <li><a href="/fault-tolerance-in-microservices" class="post-link">Microservices Architectures - What is Fault Tolerance?</a></li>
    <li><a href="/introduction-to-auto-scaling-or-dynamic-scaling-in-cloud" class="post-link">Microservices Architectures - Introduction to Auto Scaling</a></li>
    <li><a href="/introduction-to-centralized-logging-with-microservices" class="post-link">Microservices Architectures - Importance of Centralized Logging</a></li>
    <li><a href="/introduction-to-api-gateways-with-microservices" class="post-link">Microservices Architectures - Introduction to API Gateway</a></li>
    <li><a href="/introduction-to-centralized-configuration-with-spring-cloud-config-server" class="post-link">Microservices Architectures - Centralized Configuration and Config Server</a></li>
    <li><a href="/microservice-architectures-advantages-of-microservices" class="post-link">Microservices Architectures - Advantages Of Microservices</a></li>
    <li><a href="/microservice-architectures-challenges-with-microservices" class="post-link">Microservice Architectures - Challenges with building Microservices</a></li>
    <li><a href="/microservice-architectures-soa-vs-microservices" class="post-link">Microservices Architectures - Microservices vs SOA</a></li>
    <li><a href="/introduction-to-spring-cloud" class="post-link">Microservice Architectures - Introduction to Spring Cloud</a></li>
    <li><a href="/introduction-to-cloud" class="post-link">Microservices Architecutres - Quick introduction to Cloud - Why, What and How?</a></li>
    <li><a href="/introduction-to-spring-cloud" class="post-link">Introduction to Spring Cloud</a></li>
    <li><a href="/breaking-a-monolith-into-microservices" class="post-link">Breaking a Monolith into Microservices - Best Practices and Challenges</a></li>
  </ul>


  <blockquote>
    <h2>Watch 250+ Videos and Learn Spring, Spring Boot, JPA Design and Architecture!</h2>
    <p><a href="/spring-boot-video-tutorials-for-beginners#spring-and-spring-boot-videos">Click here to visit the video listing page</a></p>
  </blockquote>
  


  <H2>All Tags</H2>

  {% capture tags %}
    {% for tag in site.categories %}
      {{ tag[0] }}
    {% endfor %}
  {% endcapture %}

  {% assign sortedtags = tags | split:' ' | sort %}
  {% for tag in sortedtags %}
    
    <BR/>
    <h2 class="h1">Tag - {{ tag }}</h2>
    <ul>
    {% for post in site.categories[tag] %}
      <li><a href="{{ post.url | prepend: site.baseurl }}" class="post-link">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
  {% endfor %}

</div>