---
layout: page
title: Index of Spring Boot Articles and Videos
permalink: /tags/
tags: about
---

<div class="home">

  {% capture tags %}
    {% for tag in site.categories %}
      {{ tag[0] }}
    {% endfor %}
  {% endcapture %}

  {% assign sortedtags = tags | split:' ' | sort %}
  {% for tag in sortedtags %}
    <h2 id="{{ tag }}"><a name="{{ tag }}">{{ tag }}</a></h2>
    <ul>
    {% for post in site.categories[tag] %}
      <li><a href="{{ post.url | prepend: site.baseurl }}" class="post-link">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
  {% endfor %}

</div>