<!-- <div class="float-nav">
  <a href="#" class="menu-btn active">
    <ul>
      <li class="line"></li>
      <li class="line"></li>
      <li class="line"></li>
    </ul>
    <div class="menu-txt">menu</div>
  </a>
</div>

<div class="main-nav active">
  <ul>
    <li><a href="https://www.springboottutorial.com/tags/#SpringFramework">Spring Framework</a></li>
    <li><a href="https://www.springboottutorial.com/tags/">Spring Boot</a></li>
    <li><a href="https://www.springboottutorial.com/tags/#SpringBootJPA">JPA and Hibernate</a></li>
    <li><a href="https://www.springboottutorial.com/tags/#SpringBootMicroservices">Microservices</a></li>
    <li><a href="https://www.springboottutorial.com/tags/#SpringBootFullStack">Full Stack - React and Angular</a></li>
    <li><a href="https://cloud.in28minutes.com/">AWS Certification</a></li>
    <li><a href="https://www.springboottutorial.com/spring-boot-applications-to-aws-azure-gcp-docker-kubernetes">Deploy to AWS and AZURE</a></li>
    <li><a href="https://www.springboottutorial.com/devops-tutorial-with-docker-kubenetes-and-azure-devops">DEVOPS - Docker and Kubernetes</a></li>
    <li><a href="https://github.com/in28minutes/learn/tree/master/learning-paths#learning-paths">TOP 5 LEARNING PATHS</a></li>
    <li><a href="https://www.youtube.com/watch?v=ysoC8S96pZU">WHAT TO LEARN NEXT?</a></li>
    <li><a href="/spring-boot-video-tutorials-for-beginners#spring-and-spring-boot-videos">TOP 10 VIDEOS</a></li>
    <li><a href="https://github.com/in28minutes/learn#best-selling-courses">TOP 10 COURSES</a></li>
  </ul>
</div> -->

<footer class="center">
  <div class="measure">
    <small>
     300,000 Learners are doing our awesome <a href="https://github.com/in28minutes/learn#best-selling-courses" target="_blank">best selling courses</a>.
    </small>
  </div>
</footer> 


<script>
  
  //MENU TOGGLE

  $('.float-nav').click(function() {
    $('.main-nav, .menu-btn').toggleClass('active');
  });


  //SITEKIT

  (function(d, id) {
    if (d.getElementById(id)) return;
    var sc, node = d.getElementsByTagName('script')[0];
    sc = d.createElement('script'); sc.id = id;
    sc.src = 'https://sdk.getsitekit.com/static/js/app.js#apiKey=d0d17d08019d7d5be4b934641e09d220';
    node.parentNode.insertBefore(sc, node);
  }(document, 'sitekit-sdk'));
</script>

<!--
<script>
  (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
    t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
  })(window, document, '_gscq','script','//widgets.getsitecontrol.com/116528/script.js');
</script>
-->


{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
