<footer class="center">
  <div class="measure">
    <small>
     300,000 Learners are doing our awesome <a href="https://github.com/in28minutes/learn#best-selling-courses" target="_blank">best selling courses</a>.
    </small>
  </div>
</footer>


<script>
  (function(d, id) {
    if (d.getElementById(id)) return;
    var sc, node = d.getElementsByTagName('script')[0];
    sc = d.createElement('script'); sc.id = id;
    sc.src = 'https://sdk.getsitekit.com/static/js/app.js#apiKey=d0d17d08019d7d5be4b934641e09d220';
    node.parentNode.insertBefore(sc, node);
  }(document, 'sitekit-sdk'));
</script>


<!--
<script>
  (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
    t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
  })(window, document, '_gscq','script','//widgets.getsitecontrol.com/116528/script.js');
</script>
-->


{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
