<header class="site-header px2 px-responsive">
  <div class="mt2 wrap">
    <div class="measure">
      <!--  <a href="{{ site.url }}" class="site-title">{{ site.title }}</a>-->
      <a href="{{ site.url }}" ><span style="color:#4CCCDE">IN</span><span style="font-size:40px;color:#D5492E">28</span><span style="color:#36BF80">MINUTES</span></a>
      <nav class="site-nav">
        {% include navigation.html %}
      </nav>
      <div class="clearfix"></div>
      {% if site.show_social_icons %}
        {% include social_links.html %}
      {% endif %}
    </div>
  </div>
</header>
