<!-- ====== Header Start ====== -->
<header class="ud-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand fs-3 fw-bold text-white" href="{{'/' | relative_url}}">
                        <!-- <img src="{{'assets/images/logo/logo.svg' | relative_url}}" alt="Logo" /> -->
                        <!-- <span class="fw-bold fs-1 text-white">in28minutes</span> -->
                        in28minutes
                    </a>
                    <button class="navbar-toggler">
                        <span class="toggler-icon"> </span>
                        <span class="toggler-icon"> </span>
                        <span class="toggler-icon"> </span>
                    </button>

                    <div class="navbar-collapse">
                        <ul id="nav" class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="ud-menu-scroll" href="{{'/' | relative_url}}">Home</a>
                            </li>

                            {% for product in site.products %}
                            <li class="nav-item">
                                <a class="ud-menu-scroll" href="{{product.url | relative_url}}">{{product.name}}</a>
                            </li>
                            {% endfor %}


                            <!-- <li class="nav-item nav-item-has-children">
                                <a href="javascript:void(0)"> Articles </a>
                                <ul class="ud-submenu">
                                    {% for article in site.articles %}
                                    <li class="ud-submenu-item">
                                        <a href="{{article.url | relative_url}}" class="ud-submenu-link">
                                            {{article.name}}
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li> -->
                        </ul>
                        <div class="navbar-btn d-none d-sm-inline-block">
                            <a class="ud-main-btn ud-white-btn fw-bold" href="#subscribe">
                                Subscribe
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ====== Header End ====== -->