<a target="_blank" href="http://eepurl.com/bOJulL">Subscribe</a> <a target="_blank" href="http://eepurl.com/bOJulL">Courses</a> <a href="/spring-boot-tutorials-for-beginners">Videos</a>

<!--  
{% for page in site.pages %}
    {% if page.tags contains "about" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}
{% for page in site.pages %}
    {% if page.tags contains "contact" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}
-->