<a href="https://courses.in28minutes.com/" target="_blank">10 Free Courses</a> <a href="https://github.com/in28minutes/learn#best-selling-courses" target="_blank">Premium Courses</a> 

<!--  

<a href="https://courses.in28minutes.com/p/spring-boot-for-beginners-in-10-steps" target="_blank">Free Course</a> <a href="http://www.in28minutes.com/p/in28minutes-udemy-courses-discount-codes.html" target="_blank">All Courses</a> <a href="https://docs.google.com/forms/d/e/1FAIpQLSfLP2aXvA6AjfLIIWSk8kh1i3Wwjc9IgJSwhebJ2eCnfZ_tfA/viewform?c=0&w=1" target="_blank">Write For Us</a>


{% for page in site.pages %}
    {% if page.tags contains "about" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}
{% for page in site.pages %}
    {% if page.tags contains "contact" %}
        <a href="{{ page.url }}">{{ page.title }}</a>
    {% endif %}
{% endfor %}
-->