<section class="subscribe-wrapper" id="subscribe">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2" x-data="subscriptionData">
                <div class="ud-newsletter-box newsletter-box-large rounded">
                    <img src="{{'assets/images/blog/dotted-shape.svg' | relative_url}}" alt="shape"
                        class="shape shape-1" />
                    <img src="{{'assets/images/blog/dotted-shape.svg' | relative_url}}" alt="shape"
                        class="shape shape-2" />
                    <div class="ud-newsletter-form">
                        <a target="_blank" href="https://www.linkedin.com/newsletters/6978624731038023681/"><img src="/images/newsletter.png"/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>