
<div>
	<H3>Learn from the Top 5 Best Selling Courses</H3>
	<ul>
	<li><a href="https://rebrand.ly/SBT-Footer-Kubernetes" target="_blank">Kubernetes for Java Developers on Google Cloud</a></li>
	<li><a href="https://rebrand.ly/SBT-Footer-Docker" target="_blank">Docker for Java Developers - with Spring Boot Microservices</a></li>
	<li><a href="https://rebrand.ly/SBT-Footer-AWS-BeanStalk" target="_blank">Learn AWS - Deploy Java Spring Boot to AWS Elastic Beanstalk</a></li>
	<li><a href="https://rebrand.ly/SBT-Footer-Microservices" target="_blank">Master Microservices with Spring Boot and Spring Cloud</a></li>
	<li><a href="https://rebrand.ly/SBT-Footer-React" target="_blank">Learn Java Full Stack with Spring Boot and React</a></li>
	</ul>
	<hr/>
</div>


<div>
	<H3>Reskill with the Amazing in28Minutes Learning Paths</H3>
	<ul>
	<li><a href="https://rebrand.ly/in28minutes-LP-01" target="_blank">Learning Path 01 - Spring and Spring Boot Web Applications and API Developer</a></li>
	<li><a href="https://rebrand.ly/in28minutes-LP-02" target="_blank">Learning Path 02 - Full Stack Developer with Spring Boot, React &amp; Angular</a></li>
	<li><a href="https://rebrand.ly/in28minutes-LP-03" target="_blank">Learning Path 03 - Cloud Microservices Developer with Docker and Kubernetes</a></li>
	<li><a href="https://rebrand.ly/in28minutes-LP-04" target="_blank">Learning Path 04 - Learn Cloud with Spring Boot, AWS, Azure and PCF</a></li>
	<li><a href="https://rebrand.ly/in28minutes-LP-05" target="_blank">Learning Path 05 - Learn AWS with Microservices, Docker and Kubernetes</a></li>
	</ul>
	<hr/>
</div>

<div>
	<H3>What Our 350,000 Learners Say</H3>
	<ul>
	<li>★★★★★ Excellent, fabulous. The way he has prepared the material and the way he teaches is really awesome. What an effort .. Thanks a million</li>
	<li>★★★★★ A lot of preparation work has taken place from the teacher and this is visible throughout the course.</li>
	<li>★★★★★ This guy is fantastic. Really. Wonderful teaching skills, and goes well out of his way to make sure that everything he is doing is fully understood. This is the kind of tutorial that gets me excited to work with a framework that I may otherwise not be.
</li>
	<li>★★★★★ The best part of it is the hands-on approach which the author maintained throughout the course as he had promised at the beginning of the lecture. He explains the concepts really well and also makes sure that there is not a single line of code you type without understanding what it really does.
</li>
	<li>★★★★★ Amazing course. Explained super difficult concepts (that I have spent hours on the internet finding a good explanation) in under 5 minutes.</li>
	</ul>
	<hr/>
</div>




