---
layout: page
---
<div class="container py-5 mb-5">
    <section>
        <div class="container py-5">
            <div class="row no-gutters">
                <div class="col-12 col-lg-6">
                    <div class="flipper flipper-xl">
                        <div class="flipper-front bg-dark text-white">
                            <div class="d-flex flex-column p-5">
                                <div class="fs-3 fw-bold">{{page.title}}</div>
                                <div class="fs-4 mb-3">{{page.subtitle}}</div>
                                <small>Click to toggle all cards</small>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-lg-6">
                    <div class="row no-gutters">
                        {% for card in page.cards | limit: 4 %}
                        <div class="col-12 col-sm-6">
                            <div class="flipper">
                                <div class="flipper-card shadow shadow-sm">
                                    <div class="flipper-front p-5 fs-3 bg-dark fw-bold">{{card.title}}</div>
                                    <div class="flipper-back border p-5 fs-5 text-center">{{card.description}}</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% for card in page.cards | offset: 4 %}
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="flipper">
                        <div class="flipper-card shadow shadow-sm">
                            <div class="flipper-front fs-3 p-5 bg-dark fw-bold">{{card.title}}</div>
                            <div class="flipper-back border p-5 fs-5 text-center">{{card.description}}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        let showingCards = false
        let $cards = $('.flipper-card')
        $cards.on('click', function () {
            if ($(this).hasClass('flipper-is-flipped')) {
                $(this).removeClass('flipper-is-flipped')
            }
            else {
                $cards.removeClass('flipper-is-flipped')
                $(this).toggleClass('flipper-is-flipped')
            }

        })
        $('.flipper-xl').on('click', function () {
            $cards.removeClass('flipper-is-flipped')
            if (!showingCards) {
                $cards.addClass('flipper-is-flipped')
                showingCards = true
            }
            else {
                $cards.removeClass('flipper-is-flipped')
                showingCards = false
            }
        })
    });

</script>

{% include newsletter.html %}