---
layout: default
---
<div class="container pt-5">

    <div class="row mb-3">
        <div class="col">
            <h5 class="text-muted fw-bold">Search</h5>
            <script async src="https://cse.google.com/cse.js?cx=007125866616784409281:dxpqr0kfc4o"></script>
            <div class="gcse-search"></div>
        </div>
    </div>
    {% capture tags %}
    {% for tag in site.categories %}
    {{ tag[0] }}
    {% endfor %}
    {% endcapture %}

    {% assign sortedtags = tags | split:' ' | sort %}
    {% for tag in sortedtags %}
    <div id="{{tag}}">
        <h3 class="fw-bold text-muted mb-3">#{{ tag }}</h3>
        <div class="list-group mb-5">
            {% for post in site.categories[tag] %}
            <a class="list-group-item list-group-item-action" href="{{post.url | relative_url}}"><svg
                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="me-3"
                    viewBox="0 0 16 16">
                    <path
                        d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                    <path
                        d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z" />
                </svg> {{post.title}}
            </a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>