---
layout: page
---
<!-- ====== Features Start ====== -->
<div class="container">
  <div class="row py-5">
    <div class="col">
      <p class="fs-5">
        {{page.description}}
      </p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col">
      <div class="ud-about-wrapper wow fadeInUp shadow" data-wow-delay=".2s">
        <div class="ud-about-content-wrapper d-flex align-items-center">
          <div class="ud-about-content">
            <h2 class="ud-section-title">What you will learn</h2>
            <ul class="ud-articles-list">
              {% for objective in page.objectives %}
              <li class="mb-5 fs-5">
                <i class="lni lni-checkmark"></i> {{objective}}
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="ud-about-image">
          <img src="assets/images/about/about-image.svg" alt="about-image" class="img-fluid w-100" />
        </div>
      </div>
    </div>
  </div>
  <div class="row py-4">
    <div class="col">
      <h3>Roadmap - {{page.courses.size}} Course(s)</h3>
    </div>
  </div>
  <div class="row py-5 row-cols-1">
    {% for course in page.courses %}
    <div class="col">
      <div class="ud-single-faq wow fadeInUp" data-wow-delay=".1s">
        <div class="accordion">
          <button class="ud-faq-btn collapsed" data-bs-toggle="collapse" data-bs-target="#feature_{{forloop.index}}">
            <span class="icon flex-shrink-0">
              <i class="lni lni-chevron-down"></i>
            </span>
            <div>{{forloop.index}}. {{course.name}}</div>
          </button>
          <div id="feature_{{forloop.index}}" class="accordion-collapse collapse">
            <div class="ud-faq-body">
              <div class="row">
                <div class="col-3 text-center">
                  <img src="{{course.thumbnail}}" class="img-fluid rounded shadow-lg">
                </div>
                <div class="col-9">
                  <div class="mb-3"><strong>{{course.students}}</strong> Students</div>
                  <div class="mb-3 course-rating"> <i
                      class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i><i
                      class="lni lni-star-filled"></i><i class="lni lni-star-filled"></i><i
                      class="lni lni-star-filled"></i>
                    <strong>({{course.ratingCount}})</strong></div>  
                  <a href="{{course.url}}" class="ud-main-btn fw-bold">View on <strong>Udemy</strong></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="row py-5">
    <div class="col">
      <h3>Crafted For You With Love</h3>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2 mb-5 row-cols-lg-4">
    {% for feature in page.features %}
    <div class="col">
      <div class="ud-single-feature wow fadeInUp" data-wow-delay=".1s">
        <div class="ud-feature-icon">
          <i class="lni {{feature.icon}}"></i>
        </div>
        <div class="ud-feature-content">
          <h3 class="ud-feature-title">{{feature.name}}</h3>
          <p>{{feature.description}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


  {% include trustedby.html %}
  <div class="row py-5">
    <div class="col">
      <h3>What Your Colleagues Are Saying</h3>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-lg-3 g-3">
    {% for item in page.testimonials %}
    <div class="col">
      <div class="ud-single-testimonial wow fadeInUp" data-wow-delay=".1s">
        <div class="ud-testimonial-ratings">
          <i class="lni lni-star-filled"></i>
          <i class="lni lni-star-filled"></i>
          <i class="lni lni-star-filled"></i>
          <i class="lni lni-star-filled"></i>
          <i class="lni lni-star-filled"></i>
        </div>
        <div class="ud-testimonial-content">
          <p>
            "{{item.comment}}"
          </p>
        </div>
        <div class="ud-testimonial-info">
          <div class="ud-testimonial-image">
            <img src="assets/images/testimonials/author-01.png" alt="author" />
          </div>
          <div class="ud-testimonial-meta">
            <h4>{{item.name}}</h4>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


</div>
<!-- ====== Features End ====== -->
{% include newsletter.html %}